ul {
    list-style: none;
    padding: 0;
}

li {
    padding: 0;
    margin: 0;
}

.menu {
    display: flex;
}

.menu a {
    display: block;
    text-decoration: none;
    color: dimgrey;
    padding: 5px 20px;
}

.submenu_list {
    color: dimgrey;
    padding: 5px 20px;
}

.menu__sub {
    display: none;
    position: absolute;
    top: 20px;
    left: 0px;
}

li .menu__sub_show {
    display: block;
}